@import url('https://fonts.googleapis.com/css?family=Averia+Sans+Libre');


/* General */
html {
  background: Gainsboro;
}


/* Index */
.main_content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  font-family: 'Averia Sans Libre', cursive;
}

.main_content > a {
  text-decoration: none;
  color: #272727;
}


/* Pics */
.t_ico {
  width: 100px;
}

table, td {
  border: 1px solid black;
}
